# Игнориране на локалния кеш и плъгини на Terraform
.terraform/
.terraform.lock.hcl

# ИГНОРИРАНЕ НА ДАННИТЕ ЗА СЪСТОЯНИЕТО (STATE)
# Те съдържат пароли и пълна конфигурация в прав текст!
*.tfstate
*.tfstate.*

# Игнориране на файлове с променливи (ако съдържат пароли/ключове)
*.tfvars
*.tfvars.json

# КРИТИЧНО: Игнориране на SSH частни ключове
*.pem